*{
    color: black;
    
}
.grid-container{
    display: grid;
    background-color: burlywood;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 30px;    
}
.item2{
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 30px;
}
.item3{
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 30px;
}
.item4{
    grid-column-start: 4;
    grid-column-end: 4;
    font-size: 30px;
}
.item5{
    grid-column-start: 5;
    grid-column-end: 5;
    font-size: 30px;
}

body{
    background-image:url("King.jpg") ;
    background-size: 1250px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    border: 1px;
    margin:0%;
}
h1{

    color:rgb(90, 3, 190)
    
}